/**
 * @file GenericButton.module.scss
 * @author Shira Stern
 * @description Styles for the generic button component, including support for icons and various design states.
 */

@import "../../styles/mixins";

.button {
  @include button-base;
}

.button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  @include primary-button;
}

.secondary {
  @include secondary-button;
}

.outline {
  background-color: transparent;
  border: 2px solid $primary-blue;
  color: $primary-blue;
}

.danger {
  background-color: #ff4d4f;
  color: white;
  border: 2px solid darkred;

  &:hover {
    background-color: darkred;
  }
}
