@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.main-content{
    padding: 1rem;
    margin:auto;
    max-width: 100%;
    background-color: $light-blue;
    background-image: linear-gradient(to bottom, $light-blue, #fff);
    display: flex;
    position: absolute;
left: 0;
right: 0;
top: 0;
  
  }
  .instructions-page {
      width: 100%;
      direction: rtl;
      display: grid;
      margin: 0;
      padding: 7%;
  }
.instructions-card {
    @include card;
    max-width: 100%;
  
}
h4{
    @include heading-4;
    margin:2%
}
p{
    margin: 0;
}

h2 {
    @include heading-2;
    margin-bottom: 0.5rem;
    @include decorative-underline;
    margin-bottom: 2%;
}
.info-box{
    @include info-box 
       
}
.key-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    max-width: 100%;
    margin-bottom: 2%;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 1.5%;
      margin-bottom: 4%; 
    }
  }
  .page-header{
   text-align: center;
   margin-bottom: 2%

  }
  .notes-section{
    @include warning-box;
    margin-bottom: 2%;
  }
  .results-section{
    margin-bottom: 2%;
  }
  .results-header{
    text-align: center;
    h4{
        font-size: x-large;
        margin-top: 0;
      
    }
  }
  .results-grid {
    text-align: center;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    max-width:100%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
   
    @media (max-width: 768px) {
        display: grid;
            grid-template-columns: 1fr;
            gap: 2%;
            text-align: center;
            margin-bottom: 4%;
      }
  }
  .start-section{

    display: flex;
    flex-direction: column;
    align-items: center;  /* ממרכז את הכפתור אופקית */
    width: 100%;
  }
  .start-button{
    @include primary-button;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* מרווח בין הטקסט לאייקון */

  }
  .note-text{
    font-size: .875rem;
    margin-top: 2%;
  }